.via-cep {
  display: flex;
  flex-direction: column;
  margin: 100px 300px;
  text-align: center;
  width: 600px;
  height: 400px;
  background-color: rgb(14, 91, 91);
}

.width {
  width: 100%;
}

.informacoes {
  color: white;
}
